
body {
  font-family: 'Georgia', serif;
  line-height: 1.5;
  background: #fcfcfc
  color: #272b2e;
}

p{
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 50%
  border: 1px
  align-items: right;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #272b2e;
}

img {
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

a {
  color: #272b2e;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 32px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid #272b2e;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  border-top: 1px solid #272b2e;
  border-bottom: 1px solid #272b2e;
}

img-avatar {
  width: 140px;
}

.my-name {
  font-size: 48px;
  line-height: 1;
  align-text: right;
}

.link {
  display: flex;
  margin: 10px 0 20px 0;
}

.link-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.job {
  position: relative;
  top: 10px;
  left: 200px;
  right: 40px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
}

.job-company {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.job-title {
  font-size: 16px;
  line-height: 1.2;
}

.reference-company {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}
