
body {
  font-family: 'Georgia', serif;
  line-height: 1.5;
  background: #bcd3e0
  color: #272b2e;
}

p{
  color: #272b2e;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 50%
  border: 1px
}

img {
  max-width: 100%;
}

a {
  color: #272b2e;
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 2rem auto;
  display: grid;
  grid-template-areas: "header header header"
                       "left main right"
                       "footer footer footer"
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.cell-1 {
  background: deepskyblue;
  grid-area: header;
}

.cell-2 {
  background: orangered;
  grid-area: left;
}

.cell-3 {
  background: limegreen;
  grid-area: main;
}

.cell-4 {
  background: gold;
  grid-area: right;
}

.cell-5 {
  background: blueviolet;
  grid-area: footer;
}

.cell {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 4rem;
}
