html {
  box-sizing: border-box;
}
*, *: before, *: after {
  box-sizing: inherit;
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.5;
  background: #f2f2f2
  color: #323232;
}

img {
  max-width: 100%;
}

.icon {
  fill: current color;
  display: inline-block;
  font-size: inherit;
  height: 1em
  overflow: visible;
}

a {
  color: #323232
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 32px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 4fr
  grid-gap: 20px
  padding: 32px
  border-bottom: 1px solid lightgrey;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

img.avatar {
  width: 140px;
}

.my-name {
  font-size: 48px;
  line-height: 1;
}

.link {
  display: flex;
  margin: 10px 0 20px 0;
}

.link-item {
  color: #f2f2f2
  display: flex;
  align-items: center;
  flex: 1
}

.link-item svg {
  margin-right: 6px;
}

.job {
  padding-bottom: 24px
  margin-bottom: 24px
  border-bottom: 1px solid lightgrey
}

.job: last-child {
  border-bottom: none;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}

.skills-containter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 24px;
}

.skills-container ul {
  margin-left: 20px;
  list-style-type: disc;
}

